html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgb(241, 240, 240), rgb(164, 184, 216), #048ABF, #BFA89B, #B7B6BC, #8694A6, #F2AB6D, #58734C, #407352, #597593, #80c1d0, #024873, #F2E6D8);
  color: rgba(251, 251, 251);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  padding-top: 1.5%;
  color: darkblue;
  text-transform: uppercase;
}

img {
  max-width: 90%;
  padding: 1%;
}

.footer {
  height: 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 139, 0.9);
  color: #00000000;
}

.footer:hover {
  height: 10%;
  color: rgba(251, 251, 251);
}

.footer>p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1%;
}

.message {
  max-width: 150px;
  position: fixed;
  left: 1%;
  bottom: 1.5%;
  text-align: center;
  border-radius: 10px;
  /* padding: 1.5%; */
  background-color: rgba(0, 0, 139, 0.95);
  opacity: 0.3;
}
.message:hover{
  opacity: 1;
}
.message>a {
  text-decoration: none;
  color: rgba(251, 251, 251);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.button {
  opacity: 0.7;
  position: fixed;
  z-index: 1;
  bottom: 1.5%;
  right: 1%;
  max-width: 3%;
}

.button>a>img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .footer>p {
    font-size: 2rem;
  }

  .message>a {
    font-size: 2rem;
  }
}